/*Global*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


a{
  text-decoration: none;
}

body {
  font-family: 'Cardo', serif;
  font-size: 18px;
  line-height: 1.6;
  color:#c0ccd4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: url('https://images7.alphacoders.com/714/714678.jpg') no-repeat fixed center/cover;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #ffce00;
}

/*Main section or wrapper for the content*/

.main {
  text-align: center;
  width: 100%;
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in;
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

/*end of the main section*/

/*landing page with description*/

.landing{
  width: 100vw;
  min-height: calc(100vh);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: url('http://getwallpapers.com/wallpaper/full/5/c/6/53683.jpg') no-repeat fixed center/cover;
}

.description{
  z-index: 2;
  width: 60%;
  margin-right: 45px;
}

.button{
    background-color:#000000;
    color: #ffce00;
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 15px;
}

.btn:hover {
  opacity: 0.9;
}

.landing h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.landing p {
  font-size: 25px;
}

/* end of landing page with description*/

/* LOADER  */

 .loader {
  font-family: 'Cardo', serif;
  font-size: 40px;
  color: #ffce00;
  display: flex;
  margin-top: 300px;
  background: url('https://images7.alphacoders.com/714/714678.jpg') no-repeat fixed center/cover;
}

.loader::after {
  content: '\2026';
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots steps(4, end) 2s infinite;
  width: 0px;
}

@keyframes dots {
  to {
    width: 1.25em;
  }
}

/* LOADER end   */

/*navigation bar */

.navbar {
  display: flex;
  width: 100%;
  color: #000000;
  background-color: #000000;
}

.navbar a {
  color:#ffffff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.navbar a:hover {
  color: #ffce00;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
}

/*Product boxes with the individual description*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 20px;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

/*.column {
  position: relative;
}*/

.card{
  background-color: #ffffff;
  height: 300px;
  width: 100%;
  object-fit: cover;
  margin-top: 20px;
  padding-top: 10px;
  border: 1px grey solid;
  border-radius: 5%;
}

.card:hover{
  -webkit-box-shadow: 0 10px 5px #000000;
-moz-box-shadow: 0 10px 5px #000000;
box-shadow: 0 10px 5px #000000;
}

.card h4{
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  color: #000000;
}

.card h5 {
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 20px;
}

.card p {
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
  color: #000000;
}

/*Media queries*/

@media (min-width: 600px) and (max-width: 800px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .grid-container h3{
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    width: 100%;
    margin: 0 auto;
  }
  .card h4{
    font-size: 25px;
  }

  .card h5 {
    font-size: 15px;
  }

  .card p {
  font-size: 15px;
  }
  .landing h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .landing p {
    font-size: 15px;
  }
}

/* end of Media queries*/

/*Text area, list of all products*/

.item2 { grid-area: product1; }
.item3 { grid-area: product2; }
/*.item4 { grid-area: product3; }*/

.grid-container {
  display: grid;
  grid-template-areas:
    'product1 product1 product2 product2 ';
  grid-gap: 0px;
  padding: 0px;
  font-size: 25px;
  background: url('https://avante.biz/wp-content/uploads/Wallpapers-Fitness/Wallpapers-Fitness-037.jpg') no-repeat left/cover fixed;
  width: 100vw;
  min-height: calc(100vh);
  position: relative;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  margin-top: 200px;
}

/* end of the text area, list of all products*/
